<p>
TURTLEDOVE is designed to be decentralized and inclusive. If you would like to be listed as a partner, please email our TECH TEAM at <a href="mailto:whalebone.earth@gmail.com">whalebone.earth@gmail.com</a> 
<p>
There is NO FEE to be listed as a partner.
<p>
If you would like to join out TECH TEAM of proxy bidders, please email <a href="mailto:whalebone.earth@gmail.com">whalebone.earth@gmail.com</a>
<p>
The biggest service ANYONE can provide is completing a <%= link_to 'BID REQUEST', new_bid_path %></li> on behalf of your neighbors or community. 
<p>
Donations are greatly appreciated. Our <%= link_to 'CROWDFUND', :support %></li> page will be expanding to include credit cards and currently accepts Bitcoin.
<p>
<table class="table table-striped">
  <tr align="left">
    	<h8><th align="center">TURTLEDOVE PARTNERS</th></h8>
    </tr>
  <tr valign="left">
<% for partner in @partners %>
        <td align="left"><strong><%= partner.name %></strong></td>
        </tr>
  <% end %>
</table>  
<hr>
<p>
For information about the TURTLEDOVE community or "Turtle Dove Building" or questions from accredited investors, please call: <a href="tel:3136497918"><h2>313-649-7918</h2></a>
<hr>
<p>
For support with completing your project support request, please call: <a href="tel:3137407798"><h2>313-740-7798</h2></a>
<hr>
<h8>FLYERS</h8>
<img src="/assets/12_percent_color.jpg"/>
<hr>
<img src="/assets/12_percent_bw.jpg"/>
<hr>
<img src="/assets/12_percent_legal_bw.jpg"/>
<hr>
<img src="/assets/a2idop.jpg"/>
<hr>
<img src="/assets/2didop.jpg"/>
