bidkitty v.04 is a free app designed to network community leaders around streets and lots in Detroit so that the people of Detroit can own as much of the city as possible.
<p>
If you would like support accessing the internet or finding out whether there are vacant lots near your home, please call or visit:<p> 
<a href="mailto:whalebone.earth@gmail.com">arc epresso & trade</a>
<p>
14609 Westbrook St<br>
Detroit, MI 48223
<p>
313-693-4646<p>

digital assets of the digital provide <p>
<small><a href="http://dogepartychain.info/asset/BOGGS">#xdpBOGGS</a></small><p>
<small><a href="http://dogepartychain.info/asset/CTHREE">#xdpCTHREE</a></small><p>
<small><a href="http://dogepartychain.info/asset/FDIC">#xdpFDIC</a></small><p>
<small><a href="http://dogepartychain.info/asset/GNFD">#xdpGNFD</a></small><p>
<small><a href="http://dogepartychain.info/asset/OZCOIN">#xdpOZCOIN</a></small><p>
<small><a href="http://dogepartychain.info/asset/WOODENBLOCK">#xdpWOODENBLOCK</a></small><p>