<p>Many of the unsold properties now available for purchase through the "side lot" program. If there is an unsold property next to your home, YOU can now purchase it for $100! 
<p>
Detroit Land Bank's "side lot" creates a unique opportunity for the people of Detroit to support one another in taking ownership of the city.<p><i>bidkitty</i> is designed to network local assets with local interests by supporting homeowners in becoming landholders.<p>
<hr>
<p>
If you would like support accessing the internet or finding out whether there are vacant lots near your home, please call or visit:<p> 
<a href="mailto:whalebone.earth@gmail.com" target="_blank">arc epresso & trade</a>
<p>
14609 Westbrook St<br>
Detroit, MI 48223
<p>
<a href="tel:3136934646"><h2>313-693-4646</h2></a
