
The OPEN SOURCE SYNDICATE is open sourced and anonymous.
<p>
<a href="mailto:whalebone.earth@gmail.com">Whalebone Intergalactic</a>
<p>
14609 Westbrook St<br>
Detroit, MI 48223
<p>
313-693-4646<p>

Asset pipeline: <p>
<small><a href="http://dogepartychain.info/asset/BOGGS">#xdpBOGGS</a></small><p>
<small><a href="http://dogepartychain.info/asset/CTHREE">#xdpCTHREE</a></small><p>
<small><a href="http://dogepartychain.info/asset/FDIC">#xdpFDIC</a></small><p>
<small><a href="http://dogepartychain.info/asset/GNFD">#xdpGNFD</a></small><p>
<small><a href="http://dogepartychain.info/asset/OZCOIN">#xdpOZCOIN</a></small><p>
<small><a href="http://dogepartychain.info/asset/WOODENBLOCK">#xdpWOODENBLOCK</a></small><p>