<p>The 2014 WAYNE COUNTY PROPERTY AUCTION ends with many of the unsold properties now available for purchase through the "side lot" program. If there is an unsold property next to your home, YOU can now purchase it for $100! 
<p>
Detroit Land Bank's "side lot" creates a unique opportunity for the people of Detroit to support one another in taking ownership of the city.<p><i>bidkitty</i> is designed to network local assets with local interests by supporting homeowners in becoming landholders.<p>
If you would like support accessing the internet or finding out whether there are vacant lots near your home, please call or visit:<p> 
<a href="mailto:whalebone.earth@gmail.com">arc epresso & trade</a>
<p>
14609 Westbrook St<br>
Detroit, MI 48223
<p>
313-693-4646<p>

digital assets of the digital provide <p>
<small><a href="http://dogepartychain.info/asset/BOGGS">#xdpBOGGS</a></small><p>
<small><a href="http://dogepartychain.info/asset/CTHREE">#xdpCTHREE</a></small><p>
<small><a href="http://dogepartychain.info/asset/FDIC">#xdpFDIC</a></small><p>
<small><a href="http://dogepartychain.info/asset/GNFD">#xdpGNFD</a></small><p>
<small><a href="http://dogepartychain.info/asset/OZCOIN">#xdpOZCOIN</a></small><p>
<small><a href="http://dogepartychain.info/asset/WOODENBLOCK">#xdpWOODENBLOCK</a></small><p>