<div class="span4" margin-left: auto; margin-right: auto;>
<img src="/assets/turtledove_logo.jpg"/><h1>TURTLEDOVE</h1><h4>12% solution</h4><hr>
<h3>neighbors for neighbors</h3> 
<p> 
PROPERTY REQUESTS: <%= Bid.count %>
<br>
AVAILABLE FUNDS = <%= number_to_currency(Bid.sum(:available_funds), precision: 2) %> 
<h4>Use the button below to add your property to the <i>TURTLEDOVE</i> project database.</h4> 
<h14><%= link_to 'START BID REQUEST', new_bid_path, class: "btn btn-large btn-default" %></h14><p>
<hr>
<p>
The 12% solution strategy offers:
<p>A) immediate support for Detroit families facing eviction due to the pending 2015 Wayne county property auction,
<p>B) strategic support for communities and individuals who want to acquire multiple lots but cannot afford the $10K auction ticket,
<p>C) access to guild networks and resources for property maintenance and improvement.
<hr>
<p>
The 12% solution will
purchase as many properties requested by YOU as funds allow and, following the
auction close, will further negotiate with local guilds for rights of first refusals,
continued investment and/or sales of those earmarked properties. The purchase
and activation of a “Turtle Dove Building” will also back initial investment and
provide an office headquarters for the group of 9 local guilds in the Detroit
footprint: the seven city council districts, plus Hamtramck, Highland Park.
<p>
In addition to activating vacant properties, the 12% solution strategy addresses Detroit’s tax
foreclosure crisis for occupied properties. If a family’s home is under tax
foreclosure, Turtle Dove will attempt to buy their property in the tax auction to sell
and/or finance it back to the family, keeping them in their home and preserving
the neighborhood. Local housing/anti-foreclosure groups in our network enable
this work.
<p>
TURTLEDOVE is a way for neighbors to activate property in their area, help
keep families who are under tax foreclosure in their homes and is ultimately an
investment in the land, people and city of Detroit. To join this community
revitalization effort, call <a href="tel:13136497918"><h2>313-649-7918</h2></a> <p>or email <a href="mailto:info@turtledovedetroit.com">info@turtledovedetroit.com</a>
<hr>
<p>
For a full presentation on the 12% solution strategy, please join us:
<br>
<strong>Monday, September 7, 7pm at 1959 E. Jefferson, Detroit</strong>
<hr>
</div>
<div class="span8">
<img src="/assets/12_percent_color.jpg"/>
<hr>
<img src="/assets/12_percent_bw.jpg"/>
<hr>
<img src="/assets/12_percent_legal_bw.jpg"/>
<hr>
<h4>[turtledoveDETROIT]</h4> 


