<div class="span4" margin-left: auto; margin-right: auto;>
<img src="/assets/pROXY.jpg"/><h1>12% solution</h1><h4>CITY REPAIR</h4><hr>
<h3>neighbors investing in neighbors</h3> 
<p> 
PROPERTY REQUESTS: <%= Bid.count %>
<br>
AVAILABLE FUNDS = <%= number_to_currency(Bid.sum(:available_funds), precision: 2) %> 
<hr> 
The “12% Solution” investment strategy offers 
<br>A) 12% annual return on your
investment, backed by 
<br>B) properties acquired in the upcoming Wayne County Tax
Auction, earmarked for purchase by you on a participatory/cooperative basis,
while 
<br>C) also helping protect families under the threat of tax foreclosure.
<p>
It begins with your 2-year investment in a local guild that is partnered with the
Turtle Dove Building Guild. The minimum is $500 but it is acceptable to be part of
a bundle (e.g. 5 people bundling $100 each). Along with 12% annual return, your
investment would allow for your participation with that guild in earmarking
properties for purchase at the Wayne County Tax Auction. Turtle Dove will
purchase as many of the earmarked properties as funds allow and, following the
auction close, would further negotiate with local guilds for rights of first refusals,
continued investment and/or sales of those earmarked properties. The purchase
and activation of a “Turtle Dove Building” will also back initial investment and
provide an office headquarters for the group of 9 local guilds in the Detroit
footprint: the seven city council districts, plus Hamtramck, Highland Park.
<p>
In addition to activating vacant properties, the 12% Solution addresses Detroit’s tax
foreclosure crisis for occupied properties. If a family’s home is under tax
foreclosure, Turtle Dove will attempt to buy their property in the tax auction to sell
and/or finance it back to the family, keeping them in their home and preserving
the neighborhood. Local housing/anti-foreclosure groups in our network enable
this work.
<p>
The “12% Solution” is a way for neighbors to activate property in their area, help
keep families who are under tax foreclosure in their homes and is ultimately an
investment in the land, people and city of Detroit. To join this community
revitalization effort, call: 313-649-7918 or email: info@turtledovedetroit.com
<p>
For a full presentation on the 12% Solution, come to:
<br>
Saturday, September 5, 7pm at Red Door Digital, 7500 Oakland Ave, Detroit
<br>
Monday, September 7, 7pm at 1959 E. Jefferson, Detroit
<hr>

<a href="tel:18442893522"><h2>844-289-3522</h2></a>
<hr>
<p>
<h4>(4) add your home to the <%= link_to 'BIDKITTY', new_bid_path %> project database. </h4>
<p>Whether you are paying your taxes,  the lot next to it or the entire block, <i>bidkitty</i> is here to network community leaders to make property ownership a new form of public work. If you are next to a property and you cannot afford to purchase it, <i>bidkitty</i> will purchase the property on your behalf if you complete the bid request below.
</div>
<div class="span8">
<hr><p>
<h4>Use the button below to add your property to the <i>turtledove</i> project database.</h4> 
<h14><%= link_to 'BUILD YOUR COMMUNITY', new_bid_path, class: "btn btn-large btn-default" %></h14><p>
<hr>
<h4>[turtledoveDETROIT]</h4> 
<a href="mailto:info@turtledovedetroit.com">info@turtledovedetroit.com</a>


