<div class="span4" margin-left: auto; margin-right: auto;>
<img src="/assets/dovetail_logo.jpg"/><h1>DOVETAIL</h1><h4>auction defense guild</h4><hr>
<h3>neighbors for neighbors</h3> 
<p> 
PROPERTY REQUESTS: <%= Bid.count %>
<br>
AVAILABLE FUNDS = <%= number_to_currency(Bid.sum(:available_funds), precision: 2) %> 
<hr>
<p>
The DOVETAIL auction defense guild strategy offers:
<p>A) immediate support for Detroit families facing eviction due to the pending 2015 Wayne county property auction,
<p>B) strategic support for communities and individuals who want to acquire multiple lots but cannot afford the $10K auction ticket,
<p>C) access to guild networks and resources for property maintenance and improvement.
<hr>
<p>
DOVETAIL will
purchase as many properties requested by YOU as funds allow and, following the
auction close, will further negotiate with local guilds for rights of first refusals,
continued investment and/or sales of those earmarked properties. The purchase
and activation of a “Turtle Dove Building” will also back initial investment and
provide an office headquarters for the group of 9 local guilds in the Detroit
footprint: the seven city council districts, plus Hamtramck, Highland Park.
<p>
In addition to activating vacant properties, the DOVETAIL strategy addresses Detroit’s tax
foreclosure crisis for occupied properties. If a family’s home is under tax
foreclosure, Turtle Dove will attempt to buy their property in the tax auction to sell
and/or finance it back to the family, keeping them in their home and preserving
the neighborhood. Local housing/anti-foreclosure groups in our network enable
this work.
<p>
DOVETAIL is a way for neighbors to activate property in their area, help
keep families who are under tax foreclosure in their homes and is ultimately an
investment in the land, people and city of Detroit. To join this community
revitalization effort, call: 313-649-7918 or email: info@turtledovedetroit.com
<p>
For a full presentation on the DOVETAIL, come to:
<br>
<strong>Monday, September 7, 7pm at 1959 E. Jefferson, Detroit</strong>
<hr>

<a href="tel:13136497918"><h2>313-649-7918</h2></a>
<hr>
</div>
<div class="span8">
<hr>
<h4>Use the button below to add your property to the <i>DOVETAIL</i> project database.</h4> 
<h14><%= link_to 'BUILD YOUR COMMUNITY', new_bid_path, class: "btn btn-large btn-default" %></h14><p>
<hr>
<h4>[turtledoveDETROIT]</h4> 
<a href="mailto:info@turtledovedetroit.com">info@turtledovedetroit.com</a>
<hr>
<img src="/assets/dovetail_flyer.jpg"/>


