<div class="span4" margin-left: auto; margin-right: auto;>
<img src="/assets/pROXY.jpg"/><h1>bidkitty</h1><h4>detroit</h4>
<h3>a free resource of an open-sourced-syndicate</h3> 
<p> 
PROJECTS SUBMITTED: <%= Bid.count %>
<p> 
<i>bidkitty</i> is a resource designed to support potential landholders in completing the requirements of the Detroit's Land Bank's SIDELOT PROGRAM. <i>bidkitty</i> is building a database of homeowners and a store of capital to support a large scale purchase of sidelots for YOU, Detroit's community builders.
<h2>4 steps to be a bidkitty "lothouse"</h2>
<hr>
<h4>(1) Find <a href="https://whydontweownthis.com/2014/mi/wayne/detroit#11/42.3529/-83.0992" target="_blank">$100 lots</a> near you!</h4>
<p><a href="https://whydontweownthis.com/2014/mi/wayne/detroit#11/42.3529/-83.0992" target="_blank">Check for available side lots HERE on WDWOT.com</a>
<p><p>
Many homes in Detroit neighbor a number of vacant lots that are subject to dumping and other crimes.Coordinated purchasing increases the quantity, value and diversification of Detroit's land owners. These local networks ensure that Detroit remains owned by intention/ation and not just speculation.
<hr>
<p>
<h4>(2) Pay your taxes!</h4>
<p>
<a href="http://waynecounty.com/treasurer/treasurer_payonline.htm" target="_blank">PAY PAST DUE 2013</a>
<p>
<a href="http://www.detroitmi.gov/DepartmentsandAgencies/Finance/TreasuryDivision/PayCurrentYearPropertyTax.aspx" target="_blank">PAY PAST DUE 2014</a>
<p>
You need to have your taxes paid in order to purchase its side lots. If you cannot afford to pay your taxes, please consider asking for support from <i>bidkitty</i> by filling out a bid request and put your total taxes owed as a NEGATIVE number in the "funds available" field. Our goal is to network community leaders with you and your available lots today! 
<hr>
<h4>(3) Contact BUILDING DETROIT <br> <a href="http://www.buildingdetroit.org/" target="_blank">online</a> or by phone at</h4>
<a href="tel:18442893522"><h2>844-289-3522</h2></a>
<hr>
<p>
<h4>(4) add your home to the <%= link_to 'BIDKITTY', new_bid_path %> project database. </h4>
<p>Whether you are trying to buy your own home, the lot next to it or the entire block, <i>bidkitty</i> is here to network community leaders to make property ownership a new form of public work. If you are next to a property and you cannot afford to purchase it, <i>bidkitty</i> will purchase the property on your behalf if you complete the bid request below.
</div>
<div class="span8">
<hr><p>
<h4>Use the button below to add your home to the <i>bidkitty</i> project database.</h4> 
<h14><%= link_to 'BUILD YOUR COMMUNITY', new_bid_path, class: "btn btn-large btn-default" %></h14><p>
<hr>
<h4>[detroit v.04 alpha]</h4> 
<a href="mailto:whalebone.earth@gmail.com">[ARC]</a>


