<% provide(:title, 'LOBBY LOTTO') %>

		<a href="http://en-us.reddit.com/submit" onclick="window.location = 'http://en-us.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="http://en-us.reddit.com/static/spreddit7.gif" alt="submit to reddit" border="0" /> </a>
	    <br>
	    <a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Thank%20you%20tracking." data-pin-do="buttonPin" data-pin-config="none"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
		<div id="fb-root"></div>
		<div class="fb-like" data-href="https://theohyeah.com/lobby_lotto" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
<hr>		
<h7>LOBBY LOTTO</h7><br>
<h11>A FREE, TICKET OR SUBSCRIPTION BASED LOTTERY FOR BOUNTY/LOBBY CAMPAIGNS</h11><br>
<hr>
<h6>Now Featuring</h6>
<h1>#FREETILIKUM</h1>
<center><%= link_to image_tag("tilikum.jpg", alt: "WHALEBONE intergalactic {lotto lotto}") %>
<hr>
<p>This bounty is an offering to @SEAWORLD for the release of TILIKUM AKA #blackfish. If TILIKUM dies in captivity, this bounty will be shared between us.whales.org and seashepherd.org.</p>
<hr>
<h1>FREE ENTRY</h1>
<p>Email "FREE ENTRY!" to the bear at <a href="mailto:lobbylotto@gmail.com">lobbylotto@gmail.com</a>.<br>
One entry per email per week. Free Entry tickets only eligible for 10% of BITCOIN LOTTERY. 
<hr>
<h1>50% TICKETS</h1><br>
<h11> *If you send more than these amounts, you will still only be entered ONCE and the extra coin will go directly to fund the LOBBY LOTTO!*</h11>
<p></p>
<h11>.001 BTC<br>
</h11>
<p></p>
<h8>SEND EXACT COIN TO:</h8>
<p></p>
<h5>BITCOIN: </h5>
<h3><a href="http://blockchain.info/address/16biVFTm7611G1NaTu58nFK465mbUGgJqX">16biVFTm7611G1NaTu58nFK465mbUGgJqX</a></h3>
<hr>
<h1>LOBBY LOTTO SUBSCRIPTION</h1>
Lobby Lotto subscription holders are automatically entered into a year's worth of Lotteries AND receive a dividend of the gross lottery profit after one year.<br>
Limit of one subscription per email, please. 
<form action="https://bitpay.com/checkout" method="post" >
  <input type="hidden" name="action" value="cartAdd" />
  <input type="hidden" name="data" value="Tg5dsT1nrJpNZEehHEYqXk" />
  <input type="image" src="https://bitpay.com/img/button4.png" border="0" name="submit" alt="BitPay, pay with bitcoins." >
</form>
<hr>
<h1>DETAILS</h1>
<p>We feature one of our <a href="bounties">BOUNTIES</a> for a month in this weekly lottery.
<p>One winning address is selected each week to receive 50% of the LOBBY LOTTO's weekly funding total for each coin. 45% of the total will go to the lobby fund and 5% will go to the dividend fund for subscription holders. In the case of BITCOIN, if a FREE ticket holder wins, they will recieve 10% of the POT while 40% will go to dividend fund for subscription holders and 50% will go to the LOBBY FUND.
<p>One random drawing will be held each week for each coin.<br>
<p>THE LOTTO IS DRAWN ON SUNDAYS WITH PAYMENTS MADE BY MIDNIGHT EST
<p>NEW LOBBY entrys begin as soon as accounts return to ZERO balance.
 

