<hr>
<h1>MGMT</h1>
<hr>
<h4>PARTNERS</h4>
<h14><%= link_to 'ADD PARTNER', new_partner_path, class: "btn btn-large btn-default" %></h14>
<p>
<%= link_to '-->EDIT PARTNERS', partners_path %>
<hr>
<h4>INTERSECTIONS</h4>
<h14><%= link_to 'ADD INTERSECTION', new_intersection_path, class: "btn btn-large btn-default" %></h14>
<p>
<%= link_to '-->EDIT INTERSECTIONS', intersections_path %>
