<p>
A decentralized crowdfund for TURTLEDOVE is currently available through Bitcoin. 
<p>
Thank you for your contribution.
<p>
<h11>BITCOIN:</h11><br>
<h3><a href="https://blockchain.info/address/1P2d9VuLvyGfTeS2t5TBzs3SfhFDjc2skf"target="_blank" >1P2d9VuLvyGfTeS2t5TBzs3SfhFDjc2skf</a></h3>
<img src="/assets/dovetail_btc.png"/><br>
<h3><a href="https://blockchain.info/address/1P2d9VuLvyGfTeS2t5TBzs3SfhFDjc2skf"target="_blank" >1P2d9VuLvyGfTeS2t5TBzs3SfhFDjc2skf</a></h3>
<hr>

