<h7>DLBA</h7><br>
<p>project location: WESTBROOK / EATON 48223</p>
<hr>
<h11>ADJACENT PROPERTY APPLICATION</h11>
<h3>primary contact</h3>
<p>
Foursight Farm c/o Ethan Clay<br>
14609 Westbrook St<br>
Detroit, MI 48223
<p>
313-693-4646<br>
412-804-8883
<p>
<a href="mailto:ethanclay@gmail.com" target="_blank">ethanclay@gmail.com</a>
<hr>
<h3>lots owned</h3>
<h8>WESTBROOK</h8><p>
14634 14615 14614 14603 14594[HOOP HOUSE]</p>
<h8>BENTLER</h8><p>
14634 14620 14606</p>
<h8>BLACKSTONE</h8><p>
14601 14595</p>
<hr>
<h3>lots requested</h3>
<h8>WESTBROOK</h8><p>
14809 14891 14871 14851 14657 14628<br> 14621 14618 14581 14573 14555 14547</p>
<h8>BENTLER</h8><p>
14800 14810 14640 14594 14580 14572<br> 14560 14554 14391 14385 14810 14800</p>
<h8>BLACKSTONE</h8><p>
14635 14829 14837 14845 14851<br> 14857 14895 14898 14905 14911</p>
<h8>FENKELL</h8><p>
21321</p>
<hr>
<h5>PURPOSES</h5>
<p>
-use <a href="http://en.wikipedia.org/wiki/Swale_%28landform%29" target="_blank">swales</a> to prevent chronic flooding on BENTLER near EATON<br>
-anchor the neighborhood with modular housing while fostering new work projects created by FOURSIGHT FARM & GNFD dispatch<br>
-soil remediation through permaculture<br> 
-increase local food supply production<br>
-create a safe environment for community events and public gatherings<br>
-build a succesful model for urban livestock 
</p>

<h5>PARTNERS</h5>
<p><b>FOURSIGHT FARM</b>
<br>[cannabis caregiver, horseradish, goats]<p>
<b>GOOD NEIGHBORS FENCING & DISPATCH</b>
<br>[processing and logistics for rescued resources]
<br>[land use knowledge with professional equipment, scaleability]
<p>
<b>WHALEBONE INTERGALACTIC</b>
<br>[digital asset & currency design/development]</p>

<h5>PLAN</h5>
<h3>flood control/permaculture</h3>
<p>connect currently owned lots and create a large swale near BENTLER to feed permaculture near WESTBROOK</p>
<h8>WESTBROOK</h8><p>
14581 14573 14555 14547</p>
<h8>BENTLER</h8><p>
14640 14594 14580 14572 14560 14554</p><hr>
<h3>existing house</h3>
<p>this home is already a good model for our modular home plots</p>
<h8>BENTLER</h8><p>
14391 14385</p>
<h8>CHAPEL</h8><p>
14392</p>
<hr>
<h3>modular plots (b,c,d,e)</h3>
<p>modular home plots allow investors to tweak "blue/green" models while giving the city time to consider permanent options.</p>
<h8>WESTBROOK</h8><p>
14809[d] 14891[e] 14871[e] 14851[e]</p>
<h8>BENTLER</h8><p>
14810[d] 14800[d]</p>
<h8>BLACKSTONE</h8><p>
14857[b] 14851[b] 14845[b] 14837[b] 14829[b]<br>
14911[c] 14905[c] 14895[c] 14898[e]</p><hr>
<h3>distribution building</h3>
<p>this building is ideal for distributing offerings like firewood to the greater community</p>
<h8>FENKELL</h8><p>
21321</p>


