<hr>
<h1>BIDS BY AUCTION END</h1><p>
<p>
<table class="table table-striped">
  <tr align="middle">
	<th>AUCTION ID</th>
  	<th>CLAIMED BY</th>
	<th>MAX BID</th>
	<th></th>
    </tr>
  <tr valign="middle">
  <% for bid in @bids %>
	<td align="center"><%= bid.auction_id %></td>
	<td align="center"><%= bid.maker %></td>
	<td align="center"><%= bid.bid_threshold %></td>
	<td align="center"><%= link_to 'more', bid %></td>
  </tr>
 <% end %>
</table>