@import "bootstrap";
/* universal */


html {
  overflow-y: scroll;
  text-align: left;
}

body {
    padding-top: 42px;
    margin: 20px auto;
    text-align: justify;
    }

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
    margin-center: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.container {
       width: 70%;
}

.center h1 {
  margin-bottom:10px;
  }
  
  /* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

a:link {color:#00ACEC;}

a:visited {color:#00ACEC;}

a:hover {color:#000ACEC;}

a:active {color:#00ACEC;}


h1 {
  font-family: 'Miltonian', cursive;
  font-size: 5em;
  letter-spacing: 1px;
   margin-bottom: 2px;
}

h2 {
  font-family: 'Over the Rainbow', cursive;
  font-size: 2em;
  letter-spacing: 1px;
  margin-bottom: 2px;
}

h3 {
  font-family: 'La Belle Aurore', cursive;
  font-size: 1.5em;
  letter-spacing: 1px;
  color: #AC3030;
  margin-bottom: 4px;
}

h4 {
  font-family: 'Sigmar One', cursive;
  font-size: 2em;
  letter-spacing: 1px;
  margin-bottom: 3px;
}

h5 {
  font-family: 'Monofett', cursive;
  font-size: 2em;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #2CA44A;
}

h6 {
  font-family: 'League Script', cursive;
  font-size: 7em;
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #AC3030;
}

h7 {
  font-family: 'Codystar', cursive;
  font-size: 4em;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

h8 {
  font-family: 'Ultra', serif;
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: 2px;
}

h9 {
font-family: 'Diplomata', cursive;
font-size: 1.75em;
  letter-spacing: 2px;
  margin-bottom: 2px;
}

h10 {
  font-family: 'Lily Script One', cursive;
  font-size: 2em;
  letter-spacing: 1px;
}

h11 {
font-family: 'Sigmar One', cursive;
  font-size: 1.25em;
  letter-spacing: 0px;
}

h12 {
  font-family: 'Sigmar One', cursive;
  font-size: 1.4em;
  letter-spacing: 1px;
  margin-bottom: 3px;
}

h13 { 
font-family: 'Cutive Mono', serif;
  font-size: 2.25em;
  letter-spacing: 1px;
  margin-bottom: 3px;
}

h14 { 
	font-family: 'Sigmar One', cursive;
    font-size: 4em;
    letter-spacing: 1px;
    margin-bottom: 3px;
}

p {
  font-family: 'Inconsolata', sans-serif;
  font-size: 1.25em;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

/* header */

#logo {
  float: center;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: center;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: center;
  margin-center: 10px;
}