<%# add navigation links to this file %>
  <li><%= link_to 'PROPERTY BID REQUEST', new_bid_path %></li>
  <li><a href="http://floating-brushlands-3375.herokuapp.com/boggscoin">BOGGScoin</a></li>
  <li><a href="http://floating-brushlands-3375.herokuapp.com/about">about</a></li>

