<%# add navigation links to this file %>
  <li role="presentation" class="active"><a href="about">ABOUT</a></li>
  <li role="presentation" class="active"><a href="bids/new">BID REQUEST</a></li>
  <li role="presentation" class="active"><a href="support">CROWDFUND</a></li>
  <li role="presentation" class="active"><a href="bids">TEAM VIEW</a></li>


  


