<h7>DIGITAL ASSETS</h7><br>
<h11>For a decentralized galaxy</h11><br>
<hr>
<h1><a href="http://www.dogeparty.io">Dogeparty</a> assets on the Dogecoin blockchain.</h1><p>

You can then use the listing below to contact fellow developers to exchange assets or ideas.<p>

To freely add your XDP asset to our listing, please email <a href="mailto:whalebone.earth@gmail.com">whalebone.earth@gmail.com</a>. The asset submission form will be made public soon.

<hr>
<h11>ASSET LISTING</h11><p>
<table align="center">
<tr>
<% @coins.each do |coin| %>
 	<tr>
		  
		  <td align="left" valign="middle"><h1><a href="http://dogepartychain.info/asset/<%= coin.xdp_name %>"><%= coin.xdp_name %></a></h1>
		  <td align="center" valign="top"<img src="<%= @coin.image_1 %>"/>
		  <td align="right" valign="middle"><%= link_to ' details', coin %></3><hr></td>
 	 
	</tr>
<% end %>
</table>
